<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Д-р Гергана Георгиева</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static\styles2.css">
    <script src="static\script2.js" defer></script>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="navbar-content">
                <img src="static/doctor3.jpg" alt="Д-р Гергана Георгиева" width="104" height="142">
                <div class="navbar-text">
                    <h1>Д-р Гергана Георгиева</h1>
                    <p>Зъболекар (Стоматолог)</p>
                </div>
            </div>
        </div>

        <div class="content">
            <p>Д-р Гергана Георгиева е специалист стоматолог с дългогодишен опит и отлична репутация сред пациентите си. Тя предоставя широк спектър от дентални услуги, включително директни композитни възстановявания, оклузия, функция и естетика, както и лечение и релечение на ендодонтски лекувани зъби.</p>

            <h2 id="education">Образование</h2>
            <p>Завършва Медицински университет и има специализация в областта на денталната медицина.</p>

            <h3 id="qualifications">Квалификации</h3>
            <ul>
                <li>Практически курс за директни композитни възстановявания</li>
                <li>Семинар на тема оклузия, функция и естетика</li>
                <li>Семинар на тема: Възстановяване на ендодонтски лекувани зъби</li>
                <li>Ендодонтски курс за протоколи на лечение и релечение</li>
            </ul>

            <h4 id="biography">Биография</h4>
            <p>От 2013 г. до 2021 г. д-р Георгиева работи в дентална клиника Александър Вълев, а към момента практикува в Дентално студио ДжиДент София. Пациентите я описват като внимателна, прецизна и много професионална. Те споделят, че тя винаги предоставя подробни обяснения и обръща специално внимание на всеки детайл.</p>
        </div>
    </div>
</body>
</html>