<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Д-р Стефан Шайлеков</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static\styles2.css">
    <script src="static/script2.js" defer></script>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="navbar-content">
                <img src="static/doctor2.jpg" alt="Д-р Стефан Шайлеков" width="104" height="142">
                <div class="navbar-text">
                    <h1>Д-р Стефан Шайлеков</h1>
                    <p>Ортопед</p>
                </div>
            </div>
        </div>

        <div class="content">
            <p>Д-р Стефан Шайлеков е ортопед с дългогодишен опит в областта на ортопедията и травматологията. Специализира в лечението на ортопедични проблеми и работи както с възрастни, така и с деца.</p>

            <h2 id="education">Образование</h2>
            <p>Завършил е Медицински университет в София и има специалност по ортопедия и травматология.</p>

            <h3 id="qualifications">Квалификации</h3>
            <ul>
                <li>Специализация в университетска болница в чужбина</li>
                <li>Участие в международни конгреси и курсове</li>
                <li>Член на Български лекарски съюз и Българско дружество по ортопедия и травматология</li>
            </ul>

            <h4 id="biography">Биография</h4>
            <p>Д-р Шайлеков е посветен на своята професия и се стреми да предостави висококачествена медицинска грижа на своите пациенти. Работи в няколко болници и медицински центрове, включително НЗОК, и участва активно в обучения и конференции, за да развива своите професионални умения и знания.</p>
        </div>
    </div>
</body>
</html>