<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>За нас - Шикова Медикал Център</title>
    <link rel="stylesheet" href="static/stylesshikovamedicalcenter.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>За нас</h1>
        </header>
        <section class="content">
            <h2>Добре дошли в Шикова Медикал Център</h2>
            <p>Шикова Медикал Център е създаден с цел да предостави висококачествена медицинска грижа на нашите пациенти. Ние сме разположени в ж.к. Дружба 1, блок 198, вход А, партер, София и предлагаме широка гама от медицински услуги.</p>
            <p>Нашият екип от опитни специалисти включва акушер-гинеколози, ендокринолози, кардиолози и специалисти по фетална морфология, които са на разположение за вас.</p>
            <h2>Нашите услуги</h2>
            <ul>

                <li>Акушерство и гинекология</li>
                <div class="doctor-card1">
                <button onclick="Spec1()">Вижте докторите, осигуряващи тази услуга.</button>
                </div>

                <li>Фетална морфология</li>
                <div class="doctor-card2">
                <button onclick="Spec2()">Вижте докторите, осигуряващи тази услуга.</button>
                </div>

                <li>Ендокринология</li>
                <div class="doctor-card3">
                <button onclick="Spec3()">Вижте докторите, осигуряващи тази услуга.</button>
                </div>

                <li>Кардиология</li>
                <div class="doctor-card4">
                <button onclick="Spec4()">Вижте докторите, осигуряващи тази услуга.</button>
                </div>

            </ul>
            <h2>Контакт</h2>
            <p>Телефон: 0885229544</p>
            <p>Работим с НЗОК за улеснение на нашите пациенти.</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2886.485548585985!2d23.358736915537335!3d42.67552987916752!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa845ba7555555%3A0x8dfe4a2c4d1ea4b4!2z0YPQuy4g0J_QtdGA0LPQsNGA0L3QviAxOTgsINCS0YDQtdC00LDRgtC-0LHQtdC90LAsINCS0YDQtdC00LDRgtC-0LHQtdC90YHRgtCy0YHQutC40LkgMTU5MA!5e0!3m2!1sbg!2sbg!4v1652289675061!5m2!1sbg!2sbg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <script src="static/scriptspec1.js"></script>
        </section>
    </div>
</body>
</html>
